.jumbotron {
  background-image: url("https://source.unsplash.com/YrtFlrLo2DQ/1200x700");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 200px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}
.btn {
  color: white !important;
  width: 165px;
  height: 40px;
  background-color: #9980fa !important;
}
.btn-success {
  background-color: #5f27cd !important;
}
.btn-light {
  background-color: #9980fa !important;
}
.button-group-tabs .btn:nth-child(1) {
  border-radius: 20px 0 0 20px;
}
.button-group-tabs .btn:nth-child(2) {
  border-radius: 0 20px 20px 0;
}
.search-icon {
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 9999; /*this will keep the icon appearing all time, even when on input::focus*/
}
input#searchBox {
  border-radius: 20px;
}
